@model Visitor_Management.Models.Cls_BranchAdmin

<div class="row">
    <div class="col-md-12">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label for="BranchAdminName">Enter Branch Admin</label><label class="text-red">*</label>
                    @Html.TextBoxFor(model => model.BranchAdminName, new { @class = "form-control", placeholder = "Enter Branch Admin", required = "required" })

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Email">Enter Email</label><label class="text-red">*</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Enter Email", required = "required" })

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Phone">Enter Phone</label><label class="text-red">*</label>
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", placeholder = "Enter Phone", required = "required" })

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Shiftstart">Enter Location</label><label class="text-red">*</label>
                    @Html.DropDownListFor(model => model.BranchID, new SelectList(Model.LocationDDL.Select(x => new { Value = x.Value, Text = x.Text }), "Value", "Text", Model.LocationDDL), "Select Location", new { @class = "form-control", required="required" })

                </div>
            </div>
            
            <div class="col-md-4" style="margin-top:4%">
                <div class="form-group">
                    <button type="submit" id="btn_submit" class="btn btn-info" name="Save" value="Save">Save</button>
                </div>
            </div>

        </div>
    </div>
</div>